// Place all the styles related to the Show controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-inline input {
    width:237px !important;
}
.chat-panel {
  min-height: 200px;
}
.fright {
  float: right
}