.row
  .col-xs-12
    %h1
      SideShowBot
    .row
      .col-xs-6
        %h3 Active in the past 30 minutes
        %ul
          %li TWIT 4003
          %li ATP 
          %li 5by5
      .col-xs-6
        %h3 Create your own showbot
        %ul
          %li Chat room
          %li Show titles with voting
          %li Show links
        .input-group.col-xs-8
          %input.form-control{type: 'text', placeholder: 'Enter show title here'}
          %span.input-group-btn
            %button.btn.btn-primary{type: "button"} 
              %span.glyphicon.glyphicon-plus
              New Show