.row
  .col-xs-12
    %h1
      Shows 
      %small active in the past 30 minutes
    .input-group.col-xs-4
      %input.form-control{type: 'text', placeholder: 'Enter show title here'}
      %span.input-group-btn
        %button.btn.btn-primary{type: "button"} 
          %span.glyphicon.glyphicon-plus
          New Show